* {
  box-sizing: border-box;
  /* font-family: 'Cinzel', serif; */
  /* font-family: 'Philosopher', sans-serif; */
  /* font-family: 'Merienda', cursive; */
  font-family: 'Cinzel Decorative', cursive;
  /* font-family: 'Berkshire Swash', cursive; */
  /* font-family: 'UnifrakturMaguntia', cursive; */
  /* font-family: sans-serif; */
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

h1 {
  padding: 0;
  margin: 3px;
}
